.card-rating {
    position: relative;
    display: flex;
    align-items: center;
    width: 22px;
    cursor: pointer;
}

.icon-heart-transparent {
    position: absolute;
    opacity: 1;
    width: 23px;
    height: 21px;
    &:hover {
        opacity: 0;
    }
}

.icon-heart-gradient {
    position: absolute;
    opacity: 0;
    width: 23px;
    height: 21px;
    &:hover {
        transform: scale(1);
        opacity: 1;
    }
    &:active {
        opacity: 1;
    }
}
