.header {
  display: flex;
  justify-content: center;
  padding-top: 14px;
  padding-bottom: 13px;
  @media (min-width: 376px) {
    .header {
      padding: 30px 0px 31.798px 0px;
    }
  }
  #header__logo {
    width: 197px;
    @media (min-width: 376px) {
      width: 200px;
    }
  }
}
