.restaurants {
  display: flex;
  flex-direction: column;
  padding-left: 14px;
  padding-right: 15px;
}
@media (min-width: 376px) {
  .restaurants {
    padding: 0px 180px;
    margin-top: 50px;
  }
}

.section-title {
  font-size: 24px;
  font-weight: 700;
}

.restaurants-cards {
  display: flex;
  flex-direction: column;
  gap: 18px;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 66px;
}
@media (min-width: 376px) {
  .restaurants-cards {
    flex-direction: row;
    gap: 100px;
  }
}

.card {
  border-radius: 15px;
  background-color: white;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  position: relative;
  flex: 1 0 30%;
}
.card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 231px;
  border-radius: 15px 15px 0px 0px;
  flex-shrink: 0;
}
.card .card-badge {
  position: absolute;
  right: 27px;
  top: 19px;
  background-color: #99e2d0;
  padding: 9px 7px 8.63px 6px;
  color: #008766;
  font-size: 14px;
  font-weight: 500;
}
.card .card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 25px 15px 13px;
}
.card .card-content .card-txt {
  margin: 0;
  line-height: 26px;
}
.card .card-content .card-txt .card-title {
  margin: 0;
}
.card .card-content .card-txt .card-subtitle {
  margin: 0;
}

.btn {
  font-size: 16px;
  text-align: center;
  color: white;
  padding-right: 18.75px;
  padding-left: 18.75px;
}
.btn-round {
  border-radius: 25px;
  border: transparent;
  height: 50px;
}
.btn-linear {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(175deg, #9356dc 0%, #ff79da 100%);
}

.header {
  display: flex;
  justify-content: center;
  padding-top: 14px;
  padding-bottom: 13px;
}
@media (min-width: 376px) {
  .header .header {
    padding: 30px 0px 31.798px 0px;
  }
}
.header #header__logo {
  width: 197px;
}
@media (min-width: 376px) {
  .header #header__logo {
    width: 200px;
  }
}

.card-rating {
  position: relative;
  display: flex;
  align-items: center;
  width: 22px;
}

.icon-heart-transparent {
  position: absolute;
  opacity: 1;
  width: 23px;
  height: 21px;
}
.icon-heart-transparent:hover {
  opacity: 0;
}

.icon-heart-gradient {
  position: absolute;
  opacity: 0;
  width: 23px;
  height: 21px;
}
.icon-heart-gradient:hover {
  opacity: 1;
}

.functioning {
  padding: 0 20px;
}
@media (min-width: 376px) {
  .functioning {
    padding-left: 180px;
    padding-right: 180px;
  }
}
.functioning h2 {
  font-size: 24px;
  font-weight: 700;
}
.functioning .functioning__list {
  list-style-type: none;
  gap: 25px;
  display: flex;
  flex-direction: column;
  align-items: normal;
  padding-left: 13px;
}
@media (min-width: 376px) {
  .functioning .functioning__list {
    justify-content: space-around;
    flex-direction: row;
  }
}
.functioning li {
  display: flex;
  align-items: center;
  border-radius: 20px;
  background: white;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  gap: 24px;
  margin-top: 23px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 38px;
}
.functioning .number-list {
  background: #9356dc;
  border: 1px solid transparent;
  border-radius: 50%;
  font-size: 14px;
  color: white;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -12px;
}
.functioning .icon-list i {
  color: #7e7e7e;
}
.functioning .icon-list i:hover {
  color: #9356dc;
}
.functioning .icon-list i:active {
  color: #9356dc;
}

.footer {
  background-color: #353535;
  padding: 22px 25px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer-content #logo__footer {
  width: 139px;
  margin-left: 0;
  padding-left: 0;
}

.list-footer {
  color: white;
  padding-bottom: 7px;
  padding-left: 14px;
}
.list-footer a {
  color: white;
  text-decoration: none;
}

.menu__list-footer {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  font-size: 16px;
}

.icon-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}
.icon-list .icon-list i {
  height: 13px;
  width: 11px;
}

.icon-list__restaurant i {
  padding-right: 11px;
}

.icon-list__partner i {
  padding-right: 6.08px;
}

@media (min-width: 376px) {
  .footer-content {
    flex-direction: row-reverse;
    align-items: center;
  }
  .footer-content #logo__footer {
    padding-left: 20px;
    margin-left: 30px;
  }
  .menu__list-footer {
    flex-direction: row;
  }
}
.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white;
  padding-top: 39px;
  padding-bottom: 57px;
}

.search-section {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
  gap: 17px;
}
.search-section input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-color: transparent;
  background-color: #eaeaea;
}

* {
  font-family: "Roboto", sans-serif, normal;
}

body {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
}

h1 {
  font-size: 24px;
  font-weight: 700;
}

h2 {
  font-size: 18px;
  font-weight: 300;
}/*# sourceMappingURL=styles.css.map */