@use "card";
@use "button";
@use "header";
@use "heart";
@use "list";
@use "footer";
@use "variables";
@use "headline";
@use "search-section";

* {
  font-family: "Roboto", sans-serif, normal;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

body {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
}

h1 {
  font-size: 24px;
  font-weight: 700;
}

h2 {
  font-size: 18px;
  font-weight: 300;
}
