@use "../utils" as *;

@keyframes cardEnterFirst {
    0% {
        @include hidden-card;
    }
    25% {
        @include visible-card;
    }
    100% {
        @include visible-card;
    }
}

@keyframes cardEnterSecond {
    0% {
        @include hidden-card;
    }
    50% {
        @include visible-card;
    }
    100% {
        @include visible-card;
    }
}

@keyframes cardEnterThird {
    0% {
        @include hidden-card;
    }
    75% {
        @include visible-card;
    }
    100% {
        @include visible-card;
    }
}
@keyframes cardEnterFour {
    0% {
        @include hidden-card;
    }
    100% {
        @include visible-card;
    }
}

.menu {
    article {
        opacity: 0;
        &:nth-of-type(1) {
            animation: cardEnterFirst 1s forwards;
            @include animation-delay;
        }

        &:nth-of-type(2) {
            animation: cardEnterSecond 1s forwards;
            @include animation-delay;
        }
        &:nth-of-type(3) {
            animation: cardEnterThird 1s forwards;
            @include animation-delay;
        }
        &:nth-of-type(4) {
            animation: cardEnterFour 1s forwards;
            @include animation-delay;
        }
    }
}

.menu {
    @include flex-column;
    gap: 12px;
    max-width: 634px;
    width: 100%;
    margin: 0 auto;

    &__title {
        &:after {
            display: block;
            content: "";
            width: 40px;
            height: 3px;
            background-color: $green-light;
        }
    }
}
