@use "../utils" as *;

.restaurants {
    @include flex-column;
    background-color: $color-seasalt;

    &__title {
        font-size: 24px;
        font-weight: 700;
    }

    &__cards {
        @include flex-column;
        gap: 18px;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 66px;
        @media (min-width: 376px) {
            flex-direction: row;
            gap: 100px;
        }
    }
}
