.headline__restaurants {
  background-repeat: no-repeat;
  background-size: cover;
  height: 275px;
}

.headline__restaurants--french {
  background-image: url("../restaurants/img/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
@media (min-width: 376px) {
  .headline__restaurants--french {
    height: 390px;
    background-position: center -300px;
  }
}

.headline__restaurants--note {
  background-image: url("../restaurants/img/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-position: center;
}
@media (min-width: 376px) {
  .headline__restaurants--note {
    height: 390px;
    background-position: center -768px;
  }
}

.headline__restaurants--taste {
  background-image: url("../restaurants/img/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
@media (min-width: 376px) {
  .headline__restaurants--taste {
    height: 390px;
    background-position: right;
  }
}

.headline__restaurants--meaning {
  background-image: url("../restaurants/img/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}
@media (min-width: 376px) {
  .headline__restaurants--meaning {
    height: 390px;
    background-position: center -250px;
  }
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f6f6f6;
  padding-top: 39px;
  padding-bottom: 30px;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

.search {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
  gap: 17px;
}
.search input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-color: transparent;
  background-color: #eaeaea;
}

.restaurant {
  padding: 32px 17px 40px 17px;
  border-radius: 40px 40px 0px 0px;
  background-color: #f6f6f6;
  position: relative;
  margin-top: -42px;
  gap: 40px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 376px) {
  .restaurant {
    max-width: 1055px;
    margin: -42px auto 0;
    align-content: center;
    flex-wrap: wrap;
    overflow: hidden;
  }
}
.restaurant__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 376px) {
  .restaurant__header {
    justify-content: center;
  }
}
.restaurant__title {
  font-family: "Shrikhand";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
@media (min-width: 376px) {
  .restaurant__title {
    padding-right: 20px;
  }
}

.restaurants {
  display: flex;
  flex-direction: column;
  padding-left: 14px;
  padding-right: 15px;
  background-color: #f6f6f6;
}
@media (min-width: 376px) {
  .restaurants {
    padding: 0px 180px;
  }
}
.restaurants__title {
  font-size: 24px;
  font-weight: 700;
}
.restaurants__cards {
  display: flex;
  flex-direction: column;
  gap: 18px;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 66px;
}
@media (min-width: 376px) {
  .restaurants__cards {
    flex-direction: row;
    gap: 100px;
  }
}/*# sourceMappingURL=index.css.map */