@use "../utils" as *;

.footer {
    background-color: #353535;
    padding: 22px 25px;

    &__content {
        @include flex-column;
        align-items: flex-start;
        @media (min-width: 376px) {
            flex-direction: row-reverse;
            align-items: center;
        }
    }

    &__logo {
        width: 139px;
        margin-left: 0;
        padding-left: 0;
        @media (min-width: 376px) {
            padding-left: 20px;
            margin-left: 30px;
        }
    }

    &__list {
        gap: 10px;
        @include flex-column;
        list-style-type: none;
        color: $color-main;
        padding-bottom: 7px;
        padding-left: 14px;
        @media (min-width: 376px) {
            flex-direction: row;
        }

        a {
            color: $color-main;
            text-decoration: none;
            padding-left: 4px;
        }

        &__items {
            padding: 0;
            font-size: 16px;
        }
    }

    &__icon {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: baseline;

        i {
            height: 13px;
            width: 11px;
            padding-right: 11px;
        }
    }
}
